<!DOCTYPE html>
<html lang="en">
    <script src="/js/fetch.js"></script>
<head>
</head>
<body>
    <h1>Hi!</h1>
    <ul id="json">
        
    </ul>
    <form>
        <label for="name">Name:</label>
        <input type="text" name="name" id="name">
        <button type="button" id="submitButton" onclick="submission()">Submit</button>
    </form>
</body>
</html> 